@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;   
}
.color-orange{
    color: #FF900E;
}
main{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
/* Dark 02 */
.text-gray{
    color:#424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Dark 03 */
.text-light-gray{
  color: #727272;
}

/* header styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
}

/* navbar styles */
.nav-item{
    list-style:none;
    margin-right: 30px;
    padding-top: 63px;
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.banner, .navbar{
    max-width: 1360px;
    margin: 0 auto;
}
/* banner releated style */
.banner-content{
   max-width: 850px;
   margin: 0 auto;
   text-align: center;
   /* margin-bottom: 50px; */
}
.banner-content button{
    margin-top: 32px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 116px;
}
.banner-details{
    font-size: 1rem;
    margin-top: 30px;
}
.banner-image{
    width: 100%;
    max-width: 1440px;
    margin-top: 0 auto;
    padding: 50px 0;

}
/* team and features related styles */
.teams{
    align-items: center;
}
.our-features{
    padding-left: 70px;
}
.fuatures-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 24px;
}
.features-details{
    font-size: 16px;
    margin-bottom: 32px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    max-width: 530px;
}
.feature{
    width:100%;
   
    max-width: 1440px;
    gap: 100px;
    
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature h3{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 24px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0  rgba(0, 0, 0, 0.06);
    margin:30px auto 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;  
}
#experience-badge{
    padding: 40px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -70px ;
    margin-top: -150px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}

/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    /* width: 75% ; */
    max-width: 1440px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}
.some-facts .facts-title{
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    
}
/* sponsors related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-info h3{
    font-size: 2.1rem;
    font-weight: 700;
}
.sponsor-info p{
    margin-top: 24px;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter:grayscale(100%)
}
footer{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin: 130px auto 216px;
    padding: 30px;
    background-color: #FFF4E7;
    border-radius: 8px;
    
}
/* Responsive media query */
@media screen and (max-width:576px) {
    main{
        width: 100%;
    
    }
    .fact-card{
        width: 100%;
    }
    .navbar,
    .nav-link, 
    .feature,
    .teams{
        width: 100%;
        flex-direction: column;
    }
    .team-img-container , 
    .facts-container ,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-content: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 15px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* mediun size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .feature{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto ;
    }
    .sponsor-companies , .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
      #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
